# Ignore the following files (do not commit working files to repository).

# Ignore temporary files from editors.
# vi/vim
*.swp
*.swo

# Ignore the 'test-months' files (except for the README.md file in that folder):
/test-months/*
!/test-months/README.md

# Office temporary files.

*.tmp

# Word
#~$*.doc*
# Excel
#~$*.xls*
# PowerPoint
#~$*.ppt*
~$*
